@using System.Data
@{
    DataTable locations = ViewBag.Locations;
    int numberOfPages = (locations.Rows.Count / 4);
    if(locations.Rows.Count % 4 > 0){ numberOfPages++; }
    int pageindex = ViewBag.Index;
}

<div>
    <h2 class="mb-3">PONTOS TURISTICOS</h2>
    
    <div class="row g-3 align-items-center mb-4">
        <div class="col-1">
            <a href="/Locations/Create" class="btn btn-primary">Buscar</a>
        </div>
        <div class="col-6">
            <input type="text" id="inputSearch" name="inputSearch" class="form-control" aria-describedby="inputSearch">
        </div>
        <div class="col-3"></div>
        <div class="col-2">
                <a href="/Locations/Create" class="btn btn-primary">Nova Localização</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Localização</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Descrição</th>
                <th scope="col">     </th>
            </tr>
        </thead>
        <tbody
            @for(int rowIndex = pageindex*4; rowIndex < (pageindex*4)+4; rowIndex++ )
            {
                <tr>
                    @if(locations.Rows[rowIndex]["Nome"].ToString().Length > 29)
                    {
                        <td>@locations.Rows[rowIndex]["Nome"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@locations.Rows[rowIndex]["Nome"]</td>    
                    }

                    @if(locations.Rows[rowIndex]["Localizacao"].ToString().Length > 29)
                    {
                        <td>@locations.Rows[rowIndex]["Localizacao"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@locations.Rows[rowIndex]["Localizacao"]</td>    
                    }

                    @if (locations.Rows[rowIndex]["Cidade"].ToString().Length > 27)
                        {
                            <td>@locations.Rows[rowIndex]["Cidade"].ToString().Remove(28)</td>
                        }else
                        {
                            <td>@locations.Rows[rowIndex]["Cidade"]</td>
                        }

                    <td>@locations.Rows[rowIndex]["Estado"]</td>
                    <td>@locations.Rows[rowIndex]["DescricaoDisplay"]</td>
                    <td><a href="/Locations/Read/@locations.Rows[rowIndex]["Id"]" class="btn btn-light">Detalhes</a></td>
                </tr>
            }
            @*@foreach(DataRow row in locations.Rows)
            {
                <tr>
                    @if(row["Nome"].ToString().Length > 29)
                    {
                        <td>@row["Nome"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@row["Nome"]</td>    
                    }

                    @if(row["Localizacao"].ToString().Length > 29)
                    {
                        <td>@row["Localizacao"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@row["Localizacao"]</td>    
                    }

                    @if (row["Cidade"].ToString().Length > 27)
                        {
                            <td>@row["Cidade"].ToString().Remove(28)</td>
                        }else
                        {
                            <td>@row["Cidade"]</td>
                        }

                    <td>@row["Estado"]</td>
                    <td>@row["DescricaoDisplay"]</td>
                    <td><a href="/Locations/Read/@row["Id"]" class="btn btn-light">Detalhes</a></td>
                </tr>
            }*@
        </tbody>
    </table>

    @if(numberOfPages > 0)
    {
        <div class="col-sm-12">
            <nav>
                <ul class="pagination justify-content-center">
                    @for(int i = 1; i < numberOfPages + 1; i++)
                    {
                       
                        <li class="page-item"> <a href="/Location/Search/@(i-1)" class="page-link">@i</a></li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>