@using System.Data
@{
    DataTable locations = ViewBag.Filtro;
    int numberOfPages = ViewBag.NumeroPaginas;
    int pageindex = ViewBag.PaginaAtual;
}

<div>
    <h2 class="mb-3">PONTOS TURISTICOS</h2>
    <form method="post" action="/Locations/SearchLocations">
    <div class="row g-3 align-items-center mb-4">
        <div class="col-1">
            <button type="submit"  class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-6">
            <input type="text" maxlength="40" class="form-control" id="inputSearch" name="inputSearch" aria-describedby="inputSearch" required>
        </div>
        <div class="col-3"></div>
        <div class="col-2">
                <a href="/Locations/Create" class="btn btn-primary">Nova Localização</a>
        </div>
    </div>
    <div class="d-none">
            <label for="indexPageHolder" class="form-label">indexPageHolder</label>
            <input type="text" class="form-control" id="indexPageHolder" name="indexPageHolder" value="1" required>
    </div>
    </form>

    @if(numberOfPages > 0)
    {
        <div class="col-sm-12">
            <nav>
                <ul class="pagination justify-content-center">
                    @for(int i = 1; i < numberOfPages + 1; i++)
                    {
                       
                        <li class="page-item"> <a href="/Locations/Sort/@(i)" class="page-link">@i</a></li>
                    }
                </ul>
            </nav>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Localização</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Descrição</th>
                <th scope="col">     </th>
            </tr>
        </thead>
        <tbody>
           @foreach(DataRow row in locations.Rows)
            {
                <tr>
                    @if(row["Nome"].ToString().Length > 29)
                    {
                        <td>@row["Nome"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@row["Nome"]</td>    
                    }

                    @if(row["Localizacao"].ToString().Length > 29)
                    {
                        <td>@row["Localizacao"].ToString().Remove(30)</td>
                    }else
                    {
                        <td>@row["Localizacao"]</td>    
                    }

                    @if (row["Cidade"].ToString().Length > 27)
                        {
                            <td>@row["Cidade"].ToString().Remove(28)</td>
                        }else
                        {
                            <td>@row["Cidade"]</td>
                        }

                    <td>@row["Estado"]</td>
                    <td>@row["DescricaoDisplay"]</td>
                    <td><a href="/Locations/Read/@row["Id"]" class="btn btn-light">Detalhes</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-12 mt-4">
            <nav>
                <ul class="pagination justify-content-start">
                    <li class="page-item"> <a href="/Locations/SortByNew" id="Previous" name="Previous" class="mx-3 btn-primary btn">Mais Recentes</a></li>
                    <li class="page-item"> <a href="/Locations/SortByOld" id="Next" name="Next" class="mx-3 btn-primary btn">Mais Antigos </a></li>
                </ul>
            </nav>
        </div>
</div>
